<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name></display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>DataGridServlet</servlet-name>
    <servlet-class>com.servlet.datagrid.DataGridServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FormServlet</servlet-name>
    <servlet-class>com.servlet.form.FormServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FormServlet2</servlet-name>
    <servlet-class>com.servlet.form.FormServlet2</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FormServlet3</servlet-name>
    <servlet-class>com.servlet.form.FormServlet3</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DataGridServlet01</servlet-name>
    <servlet-class>com.servlet.datagrid.DataGridServlet01</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DataGridServlet02</servlet-name>
    <servlet-class>com.servlet.datagrid.DataGridServlet02</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DataGridServlet03</servlet-name>
    <servlet-class>com.servlet.datagrid.DataGridServlet03</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DataGridServlet04</servlet-name>
    <servlet-class>com.servlet.datagrid.DataGridServlet04</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DataGridServlet05</servlet-name>
    <servlet-class>com.servlet.datagrid.DataGridServlet05</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DataGridServlet06</servlet-name>
    <servlet-class>com.servlet.datagrid.DataGridServlet06</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ComboboxServlet01</servlet-name>
    <servlet-class>com.servlet.datagrid.ComboboxServlet01</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PropertyGridServlet</servlet-name>
    <servlet-class>com.servlet.datagrid.PropertyGridServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ComboGridServlet</servlet-name>
    <servlet-class>com.servlet.datagrid.ComboGridServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TreeServlet01</servlet-name>
    <servlet-class>com.tree.TreeServlet01</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.servlet.testDemo.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>NavTreeServlet</servlet-name>
    <servlet-class>com.servlet.testDemo.NavTreeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataGridServlet</servlet-name>
    <url-pattern>/DataGridServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FormServlet</servlet-name>
    <url-pattern>/FormServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FormServlet2</servlet-name>
    <url-pattern>/FormServlet2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FormServlet3</servlet-name>
    <url-pattern>/FormServlet3</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DataGridServlet01</servlet-name>
    <url-pattern>/DataGridServlet01</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DataGridServlet02</servlet-name>
    <url-pattern>/DataGridServlet02</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DataGridServlet03</servlet-name>
    <url-pattern>/DataGridServlet03</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DataGridServlet04</servlet-name>
    <url-pattern>/DataGridServlet04</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DataGridServlet05</servlet-name>
    <url-pattern>/DataGridServlet05</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DataGridServlet06</servlet-name>
    <url-pattern>/DataGridServlet06</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ComboboxServlet01</servlet-name>
    <url-pattern>/ComboboxServlet01</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PropertyGridServlet</servlet-name>
    <url-pattern>/PropertyGridServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ComboGridServlet</servlet-name>
    <url-pattern>/ComboGridServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TreeServlet01</servlet-name>
    <url-pattern>/TreeServlet01</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NavTreeServlet</servlet-name>
    <url-pattern>/NavTreeServlet</url-pattern>
  </servlet-mapping>
</web-app>